.header {
    height: 80px;
    display: flex;
    align-items: center;
}

.header__content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {}

.logo {
    height: 70px;
    filter: brightness(100);
    cursor: pointer;
}

.header__right {}

.hamburger {
    height: 22px;
    width: 26.5px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    height: 4.9px;
    width: 100%;
    background-color: var(--clr-white);
}

.scrollOff {
    height: 100vh;
    overflow-y: hidden;
}